USE [master]
GO
/****** Object:  Database [LibraryDB]    Script Date: 2021-09-15 1:25:50 AM ******/
CREATE DATABASE [LibraryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\LibraryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\LibraryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryDB]
GO
USE [LibraryDB]
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 2021-09-15 1:25:51 AM ******/
CREATE USER [NT AUTHORITY\SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 2021-09-15 1:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[BookName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookIssueReturn]    Script Date: 2021-09-15 1:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookIssueReturn](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NULL,
	[BookId] [int] NULL,
	[IssueDate] [datetime] NULL,
	[ReturnDate] [datetime] NULL,
	[ActualReturnDate] [datetime] NULL,
	[OneDateFine] [money] NULL,
	[TotalFine] [money] NULL,
 CONSTRAINT [PK_BookReturn] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 2021-09-15 1:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberId] [int] IDENTITY(1,1) NOT NULL,
	[MemberName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([BookId], [Code], [BookName]) VALUES (1, N'Cambridge Vocabulary 100', N'Cambridge Vocabulary')
INSERT [dbo].[Book] ([BookId], [Code], [BookName]) VALUES (2, N'Cambridge Vocabulary 101', N'Cambridge Vocabulary')
INSERT [dbo].[Book] ([BookId], [Code], [BookName]) VALUES (3, N'Cambridge Vocabulary 102', N'Cambridge Vocabulary')
SET IDENTITY_INSERT [dbo].[Book] OFF
SET IDENTITY_INSERT [dbo].[BookIssueReturn] ON 

INSERT [dbo].[BookIssueReturn] ([Id], [MemberId], [BookId], [IssueDate], [ReturnDate], [ActualReturnDate], [OneDateFine], [TotalFine]) VALUES (1, 1, 1, CAST(N'2021-09-14T00:00:00.000' AS DateTime), CAST(N'2021-09-17T00:00:00.000' AS DateTime), NULL, 20.0000, NULL)
INSERT [dbo].[BookIssueReturn] ([Id], [MemberId], [BookId], [IssueDate], [ReturnDate], [ActualReturnDate], [OneDateFine], [TotalFine]) VALUES (2, 2, 6, CAST(N'2021-09-14T00:00:00.000' AS DateTime), CAST(N'2021-09-21T00:00:00.000' AS DateTime), CAST(N'2021-09-25T00:00:00.000' AS DateTime), 30.0000, 120.0000)
INSERT [dbo].[BookIssueReturn] ([Id], [MemberId], [BookId], [IssueDate], [ReturnDate], [ActualReturnDate], [OneDateFine], [TotalFine]) VALUES (3, 2, 2, CAST(N'2021-09-15T00:00:00.000' AS DateTime), CAST(N'2021-09-18T00:00:00.000' AS DateTime), NULL, 20.0000, NULL)
SET IDENTITY_INSERT [dbo].[BookIssueReturn] OFF
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([MemberId], [MemberName]) VALUES (1, N'Mr. Ershad')
INSERT [dbo].[Member] ([MemberId], [MemberName]) VALUES (2, N'Mr. Sohrab')
SET IDENTITY_INSERT [dbo].[Member] OFF
ALTER TABLE [dbo].[BookIssueReturn]  WITH CHECK ADD  CONSTRAINT [FK_BookIssueReturn_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([BookId])
GO
ALTER TABLE [dbo].[BookIssueReturn] CHECK CONSTRAINT [FK_BookIssueReturn_Book]
GO
ALTER TABLE [dbo].[BookIssueReturn]  WITH CHECK ADD  CONSTRAINT [FK_BookIssueReturn_Member] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[BookIssueReturn] CHECK CONSTRAINT [FK_BookIssueReturn_Member]
GO
USE [master]
GO
